<p>{{ msg }}</p>

{% if request.app.payloadErrors %}
  <p><strong>Payload</strong> errors:</p>
  <pre>
  {{ request.app.payloadErrors | dump(2) }}
  </pre>
{% endif %}

{% if request.app.validationErrors %}
  <p><strong>Validation</strong> errors:</p>
  <pre>
  {{ request.app.validationErrors | dump(2) }}
  </pre>
{% else %}
  <p>No errors</p>
{% endif %}
