<p>
  {{ msg }}</p>
<form method="post" autocomplete="off" novalidate="novalidate" enctype="multipart/form-data">
  <input id="csrf-crumb" type="hidden" name="CsrfToken" value="{{ CsrfToken }}">

  <p>crumb token: {{ CsrfToken }}</p>

  <p>
    name:
    <input name="name" id="name"></p>
  <p>
    file:
    <input type="file" name="file" id="file"></p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>